instance.cfg
mmc-pack.json

minecraft/.mixin.out/
minecraft/config/*
!minecraft/config/chloride-client.json
!minecraft/config/embeddium-options.json
!minecraft/config/inventoryhud-client.toml
!minecraft/config/blockswap
!minecraft/config/biome_replacer.properties
!minecraft/config/item_obliterator.json5
!minecraft/config/easy_mob_spawn_control-common.toml
!minecraft/config/amendments-client.toml
!minecraft/config/amendments-common.toml
!minecraft/config/create-client.toml
!minecraft/config/create-common.toml
!minecraft/config/enigmaticlegacy-client.omniconf
!minecraft/config/enigmaticlegacy-common.omniconf
!minecraft/config/quark-common.toml
!minecraft/config/supplementaries-client.toml
!minecraft/config/supplementaries-common.toml
!minecraft/config/suppsquared-common.toml
!minecraft/config/paxi

minecraft/saves/
minecraft/logs/
minecraft/icon.png
minecraft/usercache.json
minecraft/usernamecache.json
minecraft/mods/.index/
minecraft/shaderpacks/*
!minecraft/shaderpacks/ComplementaryReimagined_r5.7.1 + EuphoriaPatches_1.8.6 + Supplemental Patches.txt
!minecraft/shaderpacks/ComplementaryReimagined_r5.7.1.zip
minecraft/data/
minecraft/resourcepacks/.index/
minecraft/rhino.local.properties
minecraft/local/
minecraft/config/blockswap/known_states/
minecraft/patchouli_data.json
minecraft/.qmenu_opened.marker
minecraft/defaultconfigs/

minecraft/enigmatic_persistence.dat
